<div class="container">

  {{cliente | json}}
  <div *ngIf="usuarioForm.invalid && usuarioForm.dirty" class="alert alert-danger">
    Preencha todos os campos corretamente
  </div>
  <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)"><!--passa o ngForm que é o objeto js do angular para gerenciar o formulario-->
    <div class="form-group" [class.has-danger]="nome.invalid && nome.touched">
      <label>Nome</label>
      <input type="text" class="form-control" name="nome" [(ngModel)]="cliente.nome" #nome="ngModel" required minlength="10" [class.is-invalid]="nome.invalid && nome.touched"> <!-- input registrado ngModel pro angular saber-->
      <div *ngIf="nome.hasError('required') && nome.touched" class="invalid-feedback">
        Informe um nome
      </div>
      <div *ngIf="nome.hasError('minlength') && nome.touched" class="invalid-feedback">
        O nome deve ser completo
      </div>
    </div>



    <div class="form-group" [class.has-danger]="email.invalid && email.touched">
      <label class="form-control-label">E-mail</label>
      <input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="cliente.email" email [class.is-invalid]="email.invalid && email.touched"> <!-- vai atualizando automaticamente a propriedade [(ngModel)]-->
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
        Informe um email válido
      </div>
    </div>



    <div class="form-group" [class.has-danger]="profissao.invalid && profissao.touched">
      <label class="form-control-label">Profissão</label>
      <select class="form-control" name="profissao" #profissao="ngModel" [(ngModel)]="cliente.profissao" required [class.is-invalid]="profissao.invalid && profissao.touched"> <!--só muda o html a propriedade não muda continua Outra-->
        <option value="">Selecione</option>
        <option *ngFor="let profissao of profissoes" value="{{profissao}}">{{profissao}}</option>
      </select>
      <div *ngIf="profissao.invalid && profissao.touched" class="invalid-feedback">
        Informe uma profissão
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Salvar</button>
  </form>
</div>
